<template name="confirmation">
    <div id="contentHeight" class="ui vertical stripe segment">
        <div class="ui three column grid">
            <div class="ui centered  row">
                <div class="sixteen columns">
                    <div id="contentCard" class="ui left card">
                        <div id="textctrl" class="content">
                            <div class="header">Confirmation Complete</div>
                            <div class="description">
                                <p> Success! We will contact shortly with for a free appraisal </p>
                                <p>Want to stay up to date on the townsville housing market like our pages!</p>
                                <div class="fb-like"
                                     data-href="https://www.facebook.com/Selling-Townsville-houses-and-acreage-637317193068087/?ref=aymt_homepage_panel"
                                     data-layout="button_count" data-action="like" data-show-faces="true"
                                     data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</template>