<template name="home">
    <div id="contentHeight" class="ui vertical stripe segment">
        <div class="ui three column grid">
            <div class="ui centered  row">
                <div class="sixteen columns">
                    <div id="contentCard" class="ui left card">
                        <div id="textctrl" class="content">
                            <div class="header">Do you want to know what your house is worth?</div>
                            <div class="description">
                                <p>Recive your free housing report including, recent sales in your area and a current
                                    property
                                    appraisal from qualified real estate agents</p>
                            </div>
                        </div>
                        {{> formDetails }}
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>