<template name="home">
    <div id="contentHeight" class="ui vertical stripe segment">
        <div class="ui three column grid">
            <div class="ui centered  row">
                <div class="sixteen columns">
                    <div id="contentCard" class="ui card">
                        <div id="textctrl" class="content">
                            <div class="header">Do you want to know what your house is worth?</div>
                            <div class="description">
                                <p>Recive your free housing report including, recent sales in your area and a current
                                    property
                                    appraisal from qualified real estate agents</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="form_align">
                                <form class="ui form">
                                    <div class="field">
                                        <label class="divided header">Address?</label>
                                        <input type="text" placeholder="What is the address of the property">
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label class="divided header">What type of property?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>House</option>
                                                <option>Apartment</option>
                                                <option>Town House</option>
                                                <option>Land</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label class="divided header">How is the condition?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>Poor condition</option>
                                                <option>Fair condition</option>
                                                <option>Good condition</option>
                                                <option>Perfect condition</option>
                                            </select>
                                        </div>

                                        <div class="field">
                                            <label class="divided header">How large is the house?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>Less than 300m2</option>
                                                <option>Between 301 - 600m2</option>
                                                <option>Between 601 - 1000m2</option>
                                                <option>Larger than 1000m2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label class="divided header">How many Bedrooms?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label class="divided header">How many Bathrooms?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label class="divided header">How many Car ports?</label>
                                            <select id="#dropdown" class="ui dropdown">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="divided header">Does your property have any other features?</label>
                                        <input type="text">
                                    </div>
                                    <div class="ui button">Next</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>