<template name="welcome">
    <div class="wrapper">
        <div id="banner" class="container-fluid "></div>
        <div class="container">

            <div class="col-md-4"></div>
            <div class="col-md-4 container">
                <div>
                    <div class="col-xs-1"></div>
                    <h1>Pricing property?</h1>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               placeholder="What is the address?">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">What type of property is it?</label>
                        <select class="form-control">
                            <option>House</option>
                            <option>Apartment</option>
                            <option>Town House</option>
                            <option>Land</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">What is the land size?</label>
                        <select class="form-control">
                            <option>Less than 300m2</option>
                            <option>301 - 600m2</option>
                            <option>601 - 1000m2</option>
                            <option>Greater than 1000m2</option>
                        </select>
                    </div>
                </form>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</template>